<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @track.day %>
</p>

<p>
  <strong>Mouth:</strong>
  <%= @track.mouth %>
</p>

<p>
  <strong>Year:</strong>
  <%= @track.year %>
</p>

<p>
  <strong>User:</strong>
  <%= @track.user.email %>
</p>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
